.header {
    background-color: var(--verde-dark);
    border-bottom: 2px solid var(--nude-cafe);
    text-align: center;
    margin: 0.4em 2em;
}

.logo {
    width: 10rem;
}

@media (min-width: 49.0rem){
    .header{
        border: none;
        margin: .5em;
    }

    .logo {
        width: 9rem;
    }
}